@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Manrope", sans-serif;
  background: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

article {
  max-width: 95vw;
  background: hsl(217, 19%, 24%);
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}

h1 {
  color: hsl(150, 100%, 66%);
  font-size: 1rem;
  padding: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.desktop-devider {
  display: none;
}

#btn {
  background: hsl(150, 100%, 66%);
  padding: 1rem 1.2rem;
  transform: translateY(3.5rem);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
}

#btn:hover {
  box-shadow: 0 0 30px hsl(150, 100%, 66%);
}

p {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

p::before {
  content: "\201C";
}
p::after {
  content: "\201D";
}

@media (min-width: 800px) {
  article {
    max-width: 40vw;
  }
  .desktop-devider {
    display: block;
  }
  .mobile-devider {
    display: none;
  }
}
